.row.align-items-md-end.row-40
  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header free
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 0
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li Life Insurance
          li Basic Coverage
          li Home Insurance
          li Personal Account
          li Phone support
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Starter
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 59
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li Car Insurance
          li Increased Coverage
          li Travel Insurance
          li Free Mobile App
          li Online Support
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table.pricing-table-preferred
      .pricing-table-label
        p Most Popular
      .pricing-table-body
        h5.pricing-table-header Business
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 99
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li Business Insurance
          li Advanced Coverage
          li Law Insurance
          li Free Insurance Report
          li 24/7 Support
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Ultimate
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 199
          span.small.small-bottom /mo
        .divider-circle

        ul.pricing-list
          li Umbrella Insurance
          li Full Coverage
          li Flood Insurance
          li Personal Assistant
          li Premium Support
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up