extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-bordered
include ../elements/_ui-quote-vertical


block variables
	- var activeIndex = 5
	- var pageName = 'Client testimonials'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default


	+page-title('Clients', 'bg-image-1')

	//- Team
	section.section-66.section-md-90.section-xl-bottom-120
		.container
			.row
				.col-sm-12.text-center
					h3 Testimonials

			.row.row-40
				.col-md-6
					.inset-xl-left-60.inset-xl-right-40
						+quote-bordered({
							img: 'clients-testimonials-1-68x68',
							header: 'Keep up going this way.',
							text: 'I love working with everyone here. Our underwriters have been fantastic and are so willing to help and figure out solutions if there are problems. I love that if my underwriter doesn’t know the answer to a question nothing is made up—she finds the answer. ',
							cite: 'Mark Wilson',
							caption: 'Top Manager'
						})

				.col-md-6
					.inset-xl-left-60.inset-xl-right-40
						+quote-bordered({
							img: 'clients-testimonials-2-68x68',
							header: 'I wish all of you good luck!',
							text: "I wanted to take a moment and tell you what a fantastic employee you have. She treated me with the utmost professionalism and was a calming voice that alleviated my stress during a stressful situation. She is an absolute pleasure to work with.",
							cite: 'Amanda Eberson',
							caption: 'CEO, Eberson Co.'
						})
	='\n'

	include ../sections/_section-testimonials-parallax

	include ../sections/_section-testimonials-complex

	//- What Clients Say
	section.section-60.section-md-90.section-lg-bottom-120.bg-default
		.container.text-center
			.row
				.col-sm-12
					h3 What Clients Say
			.row.justify-content-sm-center.justify-content-md-start.row-60
				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-7-113x113.png',
						text: "Tom Brown was able to save us a substantial amount of premium dollars and improve our insurance coverage.",
						cite: "Alex Murphy",
						caption: 'Client'
					})

				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-8-113x113.png',
						text: "I have found working with the associates a genuine pleasure. The evaluation of our needs is well-researched.",
						cite: "Amelia Lee",
						caption: 'Client'
					})

				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-9-113x113.png',
						text: "I have used many different insurance agencies and this agency is by far the best. Thank you a lot, keep up going this way.",
						cite: "Jack McGee",
						caption: 'Client'
					})

				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-10-113x113.png',
						text: "You helped make the transition from our previous auto & home insurance company as smooth as possible.",
						cite: "Olivia Grosh",
						caption: 'Client'
					})

				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-11-113x113.png',
						text: "I was more than satisfied with how your insurance company made filing a claim so smooth and easy for us!",
						cite: "John Anderson",
						caption: 'Client'
					})

				.col-md-4
					+quote-vertical({
						img: 'clients-testimonials-12-113x113.png',
						text: "I regularly refer business contacts and friends to this company and its team with outstanding results. Thanks for your help!",
						cite: "Jessica Priston",
						caption: 'Client'
					})
	='\n'


	//- Page Footer
	include ../sections/_section-footer-default