extends  ../_skeleton

block variables
	- var activeIndex = 6
	- var pageName = 'Contact Us'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	+page-title(pageName, 'bg-image-8')

	//- Get in Touch
	section.section-60.section-md-top-90.section-md-bottom-100
		.container
			.row.justify-content-lg-between.row-60
				.col-lg-7.col-xl-6
					h3.text-spacing--25 Get in Touch
					//- RD Mailform
					form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-30
							.col-md-6
								.form-wrap
									input#contact-name.form-input(type="text" name="name" data-constraints="@Required")
									label.form-label(for="contact-name") Name
							.col-md-6
								.form-wrap
									input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="contact-email") Email

							.col-sm-12
								.form-wrap
									.textarea-lined-wrap
										textarea#contact-message.form-input(name="message" data-constraints="@Required")
										label.form-label(for="contact-message") Message

							.col-sm-8
								button(type="submit").btn.btn-primary.btn-block Send

							.col-sm-4
								button(type="reset").btn.btn-silver-outline.btn-block Reset
				.col-lg-5.col-xl-4
					.inset-lg-right-15.inset-xl-right-0
						.row.row-30
							.col-md-10.col-lg-12
								h3.text-spacing--25 How to Find Us
								p.text-black.
									If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit Shelter at one of our comfortable offices.

							.col-md-6.col-lg-12
								h5.text-spacing--25 Headquarters
								address.contact-info
									p.text-uppercase.text-black 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
									dl.list-terms-inline
										dt Telephone
										dd: a.link-black(href='tel:#') +1 800 603 6035

									dl.list-terms-inline
										dt E-mail
										dd: a.link-primary(href='mailto:#') mail@demolink.org

							.col-md-6.col-lg-12
								h5.text-spacing--25 Support Centre
								address.contact-info
									p.text-uppercase.text-black 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45
									dl.list-terms-inline
										dt Telephone
										dd: a.link-black(href='tel:#') +1 800 603 6035

									dl.list-terms-inline
										dt E-mail
										dd: a.link-primary(href='mailto:#') mail@demolink.org


	='\n'

	.rd-google-map(class="rd-google-map__model", data-zoom='15', data-x='-73.9874068', data-y='40.643180' data-styles='')
		ul.map_locations
			li(data-y='40.643180', data-x='-73.9874068')
				p
					| 9870 ST VINCENT PLACE,
					| GLASGOW, DC 45 FR 45
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default