extends  ../_skeleton

block variables
	- var activeIndex = 5
	- var pageName = 'Forms'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default


	+page-title(pageName, 'bg-image-8')

	//- Forms
	section.section-60
		.container
			.row
				//- Login Form
				.col-md-7.col-lg-5.col-xl-4.text-center.text-md-left
					h3.text-spacing--25 Login Form

					//- Block shadow
					.block-shadow.offset-top-40.text-center
						.block-inner
							p.h7 Login to your account
							.icon-block
								span.icon.icon-xl.icon-black.material-icons-lock_open

						//- RD Mailform
						form.rd-mailform.form-modern.form-darker.form-login
							.block-inner
								.form-wrap
									input#login-form-login.form-input(type="text" name="login" data-constraints="@Required")
									label.form-label(for="login-form-login") Login
								.form-wrap
									input#login-form-password.form-input(type="password" name="pass" data-constraints="@Required")
									label.form-label(for="login-form-password") Password
								.info-text
									a.link-default(href='#') Forgot your password?

							button(type="submit").btn.btn-primary.btn-block Sign Up

					.group-inline.text-center
						span Don’t have an account?
						a.link.link-primary-inverse(href='register.html') Sign up here.
	section.section-60
		.container
			//- Feedback Form
			.row
				.col-lg-9.col-xl-7
					h3.text-spacing--25 Feedback Form
					//- RD Mailform
					form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='order', method='post', action='bat/rd-mailform.php')
						.row.row-30
							.col-md-5
								.form-wrap
									input#appointment-name.form-input(type="text" name="name" data-constraints="@Required")
									label.form-label(for="appointment-name") Name
							.col-md-7
								.form-wrap
									input#appointment-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="appointment-email") Email
							.col-md-5
								.form-wrap
									input#appointment-date.form-input(type="text" name="date" data-constraints="@Required", data-time-picker='date')
									label.form-label(for="appointment-date") Date
							.col-md-7
								.form-wrap
									input#appointment-time.form-input(type="text" name="time" data-constraints="@Required", data-time-picker='time')
									label.form-label(for="appointment-time") Time Interval
							.col-sm-12
								.form-wrap
									.textarea-lined-wrap
										textarea#appointment-message.form-input(name="message" data-constraints="@Required")
										label.form-label(for="appointment-message") Message

							.col-sm-8
								button(type="submit").btn.btn-primary.btn-block Send

							.col-sm-4
								button(type="reset").btn.btn-silver-outline.btn-block Reset
	='\n'

	//- Feedback Form 2
	section.section-35.section-md-75.section-xl-100.bg-whisper
		.container
			.row.row-60
				.col-lg-9.col-xl-7
					h3 Feedback Form 2
					//- RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-30
							.col-md-6
								.form-wrap
									input#feedback-2-first-name.form-input(type="text" name="first-name" data-constraints="@Required")
									label.form-label(for="feedback-2-first-name") First Name
							.col-md-6
								.form-wrap
									input#feedback-2-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
									label.form-label(for="feedback-2-last-name") Last Name
							.col-md-6
								.form-wrap
									input#feedback-2-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="feedback-2-email") Email
							.col-md-6
								.form-wrap
									input#feedback-2-phone.form-input(type="text" name="phone" data-constraints="@Numeric @Required")
									label.form-label(for="feedback-2-phone") Phone
							.col-sm-12
								.form-wrap
									textarea#feedback-2-message.form-input(name="message" data-constraints="@Required")
									label.form-label(for="feedback-2-message") Message

							.col-md-6
								button(type="submit").btn.btn-primary-outline.btn-block Send

				.col-lg-9.col-xl-7
					h3 Feedback Form 3
					//- RD Mailform
					form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
						.row.row-30
							.col-md-6
								.form-wrap
									input#feedback-3-first-name.form-input(type="text" name="first-name" data-constraints="@Required")
									label.form-label(for="feedback-3-first-name") First Name
							.col-md-6
								.form-wrap
									input#feedback-3-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
									label.form-label(for="feedback-3-last-name") Last Name
							.col-md-6
								.form-wrap
									input#feedback-3-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label(for="feedback-3-email") Email
							.col-md-6
								.form-wrap
									input#feedback-3-phone.form-input(type="text" name="phone" data-constraints="@Numeric @Required")
									label.form-label(for="feedback-3-phone") Phone
							.col-sm-12
								.form-wrap
									textarea#feedback-3-message.form-input(name="message" data-constraints="@Required")
									label.form-label(for="feedback-3-message") Message

							.col-md-7
								.form-wrap.form-wrap-recaptcha
									// Google captcha
									.recaptcha#captcha1(data-sitekey='6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt')

							.col-md-6
								button(type="submit").btn.btn-primary-outline.btn-block Send
	='\n'

	//- Newsletter
	section.section-40.section-md-75
		.container
			.row
				.col-md-6.col-lg-5.col-xl-4
					h3.text-spacing--25 Newsletter
					//- RD Mailform
					form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
						.form-wrap
							input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
							label.form-label(for="contact-email") Email
						button(type="submit").btn.btn-primary.btn-block Subscribe
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default