extends  ../_skeleton

//- Includes
include ../elements/_ui-post-minimal

block variables
  - var activeIndex = 3
  - var pageName = 'Gallery item'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  +page-title('Gallery', 'bg-image-1')

  //- Starting a Web Design Project
  section.section-60.section-md-75.section-xl-90
    .container
      h3.text-spacing--25 Insurance and Financial Stability
      article.post-info
        .post-image
          +jpg('gallery-item-1-1170x883')
        .post-main
          .post-left
            ul.post-meta
              li: time(datetime='2018-05-01') May 2018
              li by luis-e
              li
                ul.list-hashtags
                  li: a(href='#') insurance,
                  li: a(href='#') financial,
                  li: a(href='#') stability,
                  li: a(href='#') money

          .post-body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, dicta, nam. Voluptatibus reiciendis odio omnis fuga aliquam? Facere rerum distinctio ipsum amet magni harum non reiciendis dolorem officiis, eos blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat rem quos labore aliquam maiores atque debitis, tenetur error, libero placeat iure totam harum architecto alias unde tempora neque, eos ab.

  ='\n'

  //- Related posts
  section.section-35.section-md-75.section-xl-90.bg-gray-light(style="background: #e5e6ed")
    .container.text-center.text-sm-left
      .row
        .col-sm-12
          h4 Related posts

      .row.row-30
        .col-md-10.col-lg-6
          +post-minimal({
            img: 'gallery-item-2-220x224',
            header: 'Just Married! Now What?',
            time: ['2018-03-14', 'March 14'],
            text: 'People grow up, age, get married.  Weddings are a monumental life event.  But before a couple can spend their life...'
          })

        .col-md-10.col-lg-6
          +post-minimal({
            img: 'gallery-item-3-220x224',
            header: 'Wet Weather Driving Tips',
            time: ['2018-03-13', 'March 14'],
            text: 'In this transition period from the end of winter to the start of spring, the weather is wet.  From snow to ice to rain, to melting...'
          })

        .col-md-10.col-lg-6
          +post-minimal({
            img: 'gallery-item-4-220x224',
            header: 'Flood Insurance Basics',
            time: ['2018-03-12', 'March 14'],
            text: 'Each year flooding causes an average of $43,000 per claim and over $3.5 Billion total in claims.  Homeowners insurance...'
          })

        .col-md-10.col-lg-6
          +post-minimal({
            img: 'gallery-item-5-220x224',
            header: 'Auto Insurance Basics',
            time: ['2018-03-11', 'March 14'],
            text: 'Auto insurance can be confusing and overwhelming.  To help you understand it and make it a bit simpler, we have made a...'
          })
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default