extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Maintenance'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default


  +page-title(pageName, 'bg-image-14')

  //- We are currently working on.
  section.section-60.section-md-top-90.section-md-bottom-100
    .container.text-center
      .row.justify-content-md-center.row-60
        .col-sm-12
          h3.text-spacing--25 We are currently working on.
          p.h5.text-silver.text-spacing--25.font-weight-bold This page will appear in
        .col-12  
          .block-centered
            //- Countdown
            .countdown.countdown-default(data-type='until', data-time='31 Dec 2018 16:00', data-format='dhms')
        .col-12
          h5.text-spacing--25 Stay tuned and subscribe to our newsletter
          //- RD Mailform
          .block-centered(style='max-width: 370px;')
            form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
              .form-wrap
                label.form-label(for="contact-email") Email
                input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              button(type="submit").btn.btn-primary.btn-block Subscribe
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default