extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Progress Bars'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  +page-title(pageName, 'bg-image-5')

  //- Skill Bars
  section.section-60.section-md-75.section-xl-bottom-120
    .container
      .row
        .col-sm-12.text-center
          h3.text-spacing--25 Skill Bars
      .row.justify-content-lg-between.row-40
        .col-md-6.col-xl-5
          p.
            Our agency can provide you and your family with quality insurance for your personal, business and financial needs. Our knowledgeable agents can help your find affordable and reliable car insurance, home insurance, commercial insurance or life insurance.

          p.
            Our focus is to help our clients grow their assets. We believe in being local and we strive to improve the communities where we live and work.
        .col-md-6
          .shift-sm-top-1
            include ../_includes/_progress-list
  ='\n'

  //- Counters
  section.section-60.section-md-100.bg-gray-dark.bg-image.overlay-5(style='background-image: url(images/bg-image-6.jpg);')
    .container
      .row
        .col-sm-12.text-center
          h3 Counters

      .row.row-40
        .col-sm-6.col-md-3
          .box-counter.box-counter-inverse.box-counter-white
            figure
              img(src="images/icon-01.png", width="53", height="50", alt="")
            //- CountTo
            .text-large.counter 1450
            h5.box-header.text-white Happy Clients

        .col-sm-6.col-md-3
          .box-counter.box-counter-inverse.box-counter-white
            figure
              img(src="images/icon-02.png", width="41", height="43", alt="")
            //- CountTo
            .text-large.counter 23
            h5.box-header Insurance Products

        .col-sm-6.col-md-3
          .box-counter.box-counter-inverse.box-counter-white
            figure
              img(src="images/icon-03.png", width="52", height="53", alt="")
            //- CountTo
            .text-large.counter 10
            h5.box-header Years of Experience

        .col-sm-6.col-md-3
          .box-counter.box-counter-inverse.box-counter-white
            figure
              img(src="images/icon-04.png", width="55", height="46", alt="")
            //- CountTo
            .text-large.counter 196
            h5.box-header Professional Agents
  ='\n'

  //- Progress Bars
  section.section-60.section-md-75.section-lg-top-100.section-lg-bottom-120
    .container
      .row
        .col-sm-12.text-center
          h3 Progress Bars
      .row
        .col-sm-12
          .countdown-wrap.block-centered
            //- Countdown
            .DateCountdown.DateCountdown-1(data-type='until', data-date='2018-12-31 00:00:00', data-format='wdhms', data-color='#ffffff', data-bg='rgba(255, 255, 255, 1)', data-width='0.02')
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default