extends  ../_skeleton

block variables
	- var pageName = 'Create your account'
	- var bodyClass = ['one-screen-page', 'bg-gray-darker', 'bg-image'];
	- var bodyImage = 'bg-register'

block title
	title=pageName

block page
	section.section.section-single.novi-background.bg-gray-darker.bg-image(style='background-image: url(images/bg-404.jpg);')
		.section-single-inner
			//- Page Header
			include ../sections/_section-header-base-transparent

			.section-single-main
				.container
					.row.justify-content-md-center
						.col-md-7.col-lg-5.col-xl-4
							//- Block shadow
							.block-shadow.text-center
								.block-inner
									p.h7.font-weight-bold.text-abbey Create your account
									.icon-block
										span.icon.icon-xl.icon-black.material-icons-face
								//- RD Mailform
								form.rd-mailform.form-modern.form-darker.form-login
									.block-inner
										.form-wrap
											input#register-form-name.form-input(type="text" name="name" data-constraints="@Required")
											label.form-label(for="register-form-name") Username
										.form-wrap
											input#feedback-email.form-input(type="email" name="email" data-constraints="@Email @Required")
											label.form-label(for="feedback-email") Email
										.form-wrap
											input#register-form-password.form-input(type="password" name="pass" data-constraints="@Required")
											label.form-label(for="register-form-password") Password
										.form-wrap
											input#register-form-password-confirm.form-input(type="password" name="pass-confirm" data-constraints="@Required")
											label.form-label(for="register-form-password-confirm") Repeat a password
										.info-text.text-left.text-secondary
											label.checkbox-inline.checkbox-small
												input(name='input-checkbox', value='checkbox-1', type='checkbox')
												| I agree with the&nbsp;
												a.link-primary-inline(href='privacy.html') Terms of use
												| .

									button(type="submit").btn.btn-primary.btn-block Sign up


			//- Page Footer
			include ../sections/_section-footer-base-transparent