extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-default
include ../elements/_ui-placeholders

block variables
	- var activeIndex = 5
	- var pageName = 'Table styles'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default


	+page-title('Table styles', 'bg-image-7')

	//- Tables
	section.section-60.section-md-100
		.container
			.row.row-60.row-xl-90
				.col-sm-12
					+table('table-primary')

				.col-sm-12
					+table

				.col-sm-12
					+table(['table-primary', 'table-striped'])
	='\n'


	//- Page Footer
	include ../sections/_section-footer-default