//- Includes
include ../elements/_ui-post-preview

//- Footer Widget
footer.page-foot.bg-cod-gray
  section.section-40.section-md-75
    .container
      .row.justify-content-sm-center
        .col-sm-9.col-md-11.col-xl-12
          .row
            .col-md-6.col-lg-10.col-xl-3
              .inset-xl-right-20(style='max-width: 510px;')
                //- Brand
                a.brand.brand-inverse(href='index.html')
                  include ../_includes/_logo
                p.offset-top-22.
                  TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming
                  up in May 2002, we've gone 25 partners.
                a.link.link-group.link-group-animated.link-bold.link-white(href=globals.getTemplateLink)
                  span Get Shelter Now
                  span.icon.icon-xxs.icon-primary.fa.fa-angle-right

            .col-md-6.col-lg-4.col-xl-3.offset-top-50.offset-sm-top-0.offset-md-top-50.offset-lg-top-0
              h6.text-uppercase Recent Posts
              .offset-top-22.offset-md-top-30
                +post-preview({
                  classes: ['post-preview-inverse', 'offset-top-22'],
                  img: 'post-preview-1-70x70',
                  header: 'The Ultimate Technique to Pitch Anything',
                  time: ['2018-02-04', 'Feb 4, 2018']
                })

                +post-preview({
                  classes: ['post-preview-inverse', 'offset-top-22'],
                  img: 'post-preview-2-70x70',
                  header: 'Four Types of Verbal Communication',
                  time: ['2018-02-04', 'Feb 4, 2018']
                })

            .col-md-6.col-lg-4.col-xl-3.offset-top-50.offset-lg-top-0
              h6.text-uppercase Quick links
              .row.offset-top-22.offset-md-top-30(style='max-width: 270px;')
                .col-6
                  ul.list-marked-variant-2
                    li: a(href='index.html') Home
                    li: a(href='services.html') Services
                    li: a(href='careers.html') Careers
                    li: a(href='classic-blog.html') Blog

                .col-6
                  ul.list-marked-variant-2
                    li: a(href='about-us.html') About us
                    li: a(href='contacts-us.html') Contacts
                    li: a(href='appointment.html') Appointment

            .col-md-6.col-lg-4.col-xl-3.offset-top-50.offset-lg-top-0
              h6.text-uppercase Contact us
              address.contact-info.offset-top-22.offset-md-top-30.offset-lg-top-35.text-left
                .unit.unit-horizontal.unit-spacing-md.align-items-center
                  .unit-left
                    span.icon.icon-xs.icon-primary.material-icons-phone
                  .unit-body
                    a.link-white(href='tel:#') +123 234 984 47 45

                .unit.unit-horizontal.unit-spacing-md.align-items-center.offset-top-15
                  .unit-left
                    span.icon.icon-xs.icon-primary.fa.fa-envelope-o
                  .unit-body
                    a.link-white(href='mailto:#') info@demolink.org

                .unit.unit-horizontal.unit-spacing-md.offset-top-15
                  .unit-left
                    span.icon.icon-xs.icon-primary.material-icons-place
                  .unit-body
                    a.link-white.d-inline(href='#')
                      | 17/11 MassiveAttack Street
                      br
                      | Bristol, United Kingdom
  .container
    hr

  section.section-35
    .container.text-center
      .row.flex-row-md-reverse.justify-content-md-between.align-items-md-center
        .col-md-6.text-md-right
          .group-sm.group-middle
            p.font-italic.text-white Follow Us:
            ul.list-inline.list-inline-reset
              li: a.icon.icon-circle.icon-gray-dark-filled.icon-xxs-smallest.fa.fa-facebook(href='#')
              li: a.icon.icon-circle.icon-gray-dark-filled.icon-xxs-smallest.fa.fa-twitter(href='#')
              li: a.icon.icon-circle.icon-gray-dark-filled.icon-xxs-smallest.fa.fa-google-plus(href='#')

        .col-md-6.offset-top-15.offset-sm-top-0.text-md-left
          p.rights.text-white
            span(id='copyright-year')
            span &nbsp;&#169;&nbsp;
            span Shelter.&nbsp;
            a.link-white-v2(href='privacy.html') Privacy Policy
            if footerlink === 0
              //- {%FOOTER_LINK}
='\n'