//- Shelter Is Exactly What You Need
section.section-60.section-md-100.bg-accent
  .container.text-center.text-lg-left
    .row.align-items-lg-center.justify-content-lg-center.row-30
      .col-lg-8.col-xl-8
        h3 Our Cooperation Can Save Your Money
      .col-lg-4.col-xl-3
        a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn More
='\n'