//- Includes
include ../elements/_ui-quote-vertical

//- What Clients Say
section.section-60.section-md-90.section-lg-bottom-120
  .container.text-center
    .row
      .col-sm-12
        h3 What Clients Say
    .row.justify-content-sm-center.justify-content-md-start.offset-top-40
      .col-md-4
        +quote-vertical({
          img: 'clients-testimonials-7-113x113.png',
          text: "The one thing I am sure about right now is that my next web startup will be developed by Shelter.",
          cite: "Alex Murphy",
          caption: 'Freelance developer'
        })

      .col-md-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          img: 'clients-testimonials-8-113x113.png',
          text: "They’ve developed a large multipage website with lots of additional functions in just two weeks.",
          cite: "Amelia Lee",
          caption: 'Sales, demolink.org'
        })

      .col-md-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          img: 'clients-testimonials-9-113x113.png',
          text: "Hundreds of small and big businesses, as well as international companies, have already benefited from working with us. Now it’s your time!",
          cite: "Jack McGee",
          caption: 'Founder, The Therapy'
        })

      .col-md-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-10-113x113.png',
          text: "All our clients receive full support throughout our cooperation process. It allows them to avoid any unnecessary insurance troubles.",
          cite: "John Davis",
          caption: 'Writer'
        })

      .col-md-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-11-113x113.png',
          text: "An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!",
          cite: "Jill Miller",
          caption: 'Artist'
        })

      .col-md-4.offset-top-60
        +quote-vertical({
          img: 'clients-testimonials-12-113x113.png',
          text: "A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.",
          cite: "Christopher Taylor",
          caption: 'Financial Consultant'
        })
='\n'