//- Footer base
section.section-single-footer
	.page-foot-inner
		.container.text-center
			.row
				.col-sm-12
					p.rights
						span &nbsp;&#169;&nbsp;
						span(id='copyright-year')
						span Shelter
						a.link-primary-inverse(href='privacy.html') Privacy Policy
	.divider-primary
='\n'
